.icon-contact {
    background: url('/packages/KhangWeb/ClientMessage/src/Resources/assets/images/icons/contact.svg') no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
}
